
@media only screen and (max-width:320px){
    p.sub_head {
        color: #fff;
        font-size: 12px !important;
        font-weight: 400;
    }
    h2.ban_head {
        font-size: 25px !important;
        font-weight: 500;
        color: #fff;
        margin-bottom: 5px !important;
    }
    
}
@media only screen and (max-width:426px){
    .overlay_content {
        position: absolute;
        top: 10% !important;
        left: 5%;
        width: auto;
    }
    p.sub_head {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
    }
    h2.ban_head {
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 8px;
    }
    .choose{
        padding: 0px;
    }
    a.navbar-brand{
        width:26%;
    }
    img.image_pre {
        position: absolute;
        left: 36%;
        top: 45%;
        height: 3vh;
    }

}
@media only screen and (min-width:427px) and (max-width:542px){
    .overlay_content {
        position: absolute;
        top: 10% !important;
        left: 5%;
        width: auto;
    }
    p.sub_head {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
    }
    h2.ban_head {
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 5px;
    }
    a.navbar-brand{
        width:26%;
    }
    img.image_pre {
        position: absolute;
        left: 40%;
        top: 45%;
        height: 3vh;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .overlay_content {
        position: absolute;
        top: 20% !important;
        left: 5%;
        width: 100% !important;
    }
    a.navbar-brand{
        width:12%;
    }
}
@media only screen and (max-width:991px){
    .offcanvas.show .navbar-brand {
        width: 40%;
    }
    .offcanvas.show ul.navbar-nav {
        margin-left: -45% !important;
    }
    .offcanvas-header .btn-close {
        font-size: 20px;
    }
    li.nav-item:hover::before{
        width: 50% !important;
    }
    .splide__slide img {
        width: 100%;
        height: auto;
      object-fit: cover;
    }
    .about{
        height: auto;
    }
    .abt-content{
        padding: 10px;
        margin-top: 10px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1339px){
    .choose{
        padding: 20px;
    }
    .card.chooseus{
        padding: 15px;
    }
    .choose_para{
        font-size: 15px;
    }
    
}
@media only screen and (min-width:320px){
    .accordion-body {
        height: 32vh;
    }
        .contact-btn{
           float: right;
        }
        button.btn2 {
            margin-top: 79% ;
        }
        button.btn3 {
            margin-top: 40% ;
        }
        button.btn5 {
            margin-top: 38% ;
        }
        button.btn6 {
            margin-top: 37% ;
        }
    }
    @media only screen and (min-width:375px) {
        button.btn1 {
            margin-top: 34%;
        }
        button.btn2 {
            margin-top: 78%;
        }
        button.btn3 {
            margin-top: 57%;
        }
       
        button.btn4 {
            margin-top: 34%;
        }
        button.btn5 {
            margin-top: 55%;
        }
        button.btn6 {
            margin-top: 55%;
        }
    
    }
    @media only screen and (min-width:425px) {
        button.btn1 {
            margin-top: 34%;
        }
        button.btn2 {
            margin-top: 78%;
        }
        button.btn3 {
            margin-top: 57%;
        }
        .contact-btn {
           
            margin-top: 1%;
        }
        button.btn4 {
            margin-top: 34%;
        }
        button.btn5 {
            margin-top: 55%;
        }
        button.btn6 {
            margin-top: 55%;
        }
    
    }
    @media only screen and (min-width:768px){
        .accordion-body {
            height: 45vh;
        }
        .contact-btn {
            float: right;
        }
        button.btn1 {
            margin-top: -20%;
        }
        button.btn2 {
            margin-top: 90%;
        }
        button.btn3 {
            margin-top: 44%;
        }
        
        button.btn4 {
            margin-top: -25%;
        }
        button.btn5 {
            margin-top: 83%;
        }
        button.btn6 {
            margin-top: 82%;
        }
    }
    @media only screen and (min-width:1024px){
        .accordion-body {
            height: 38vh;
        }
        .contact-btn {
            float: right;
        }
        button.btn1 {
            margin-top: 25%;
        }
        button.btn2 {
            margin-top: 115%;
        }
        button.btn3 {
            margin-top: 88%;
        }
        
        button.btn4 {
            margin-top: 25%;
        }
        button.btn5 {
            margin-top: 83%;
        }
        button.btn6 {
            margin-top: 70%;
        }
    }
    @media only screen and (min-width:1445px){
        .accordion-body {
            height: 38vh;
        }
        .contact-btn {
            float: right;
        }
        button.btn1 {
            margin-top: 65%;
        }
        button.btn2 {
            margin-top: 126%;
        }
        button.btn3 {
            margin-top: 92%;
        }
        
        button.btn4 {
            margin-top: 65%;
        }
        button.btn5 {
            margin-top: 108%;
        }
        button.btn6 {
            margin-top: 110%;
        }
    }
    
    /* accordion starts*/ 
    
    